<html>
<head>

  <!-- Metadata for the Webpage -->
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CrowdView</title>
  <style>
    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */

    #map {
      height: 700px;
      width: 64%;
    }


    .centered-div {
      margin: 0 auto !important;
    }


    /* Optional: Makes the sample page fill the window. */

    /* html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
      font-family: 'Lobster', serif;
    } */
  </style>

  <!-- Bootstrap CSS files-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery UI CSS (optional) -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">

  <!-- Google Open Sans web font -->
  <link href="https://fonts.googleapis.com/css?family=Lobster|Raleway|Yanone+Kaffeesatz|Passion+One" rel="stylesheet">

  <!-- Font Awesome Web Icons -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
  HELLOOOOOOOOOOO {{ name }}, {{ temp }}
  <!-- <div class="container-fluid"> -->
  <div class='jumbotron' style='background-size: cover; background-position: 0% 30%; background-image: url("crowd-2045498_960_720.jpg"); margin-top: 25px; height: 350px;'>
    <h1 style='color:#000000; position:relative; top:-45px' class='jumbotronic'>
          <!-- <font size="72">CrowdView</font> -->
          <div style="font-family: 'Lobster', cursive; text-indent: 50px">CrowdView</div>

     </h1>
    <p style='color:#7e8796; position:relative; top:-45px; text-indent: 50px; font-family:"Raleway", serif'>
      Don't get caught in the crowd
    </p>
  </div>
  <div class="container-fluid" align="center" style='margin-bottom: 25px; font-family:"Raleway", serif;'>
      <h4 style='color:#000000; margin: 25px;'>
      CrowdView is an analytical tool that allows you to see an overview of the population distribution on campus. Use CrowdView to avoid long lines and crowded places. Or use our tool to find the hotspots on campus.
  </h4>
  </div>

  <!-- <div class="container"> -->
  <div class="row" style='margin: 10px'>
    <div class="col-sm-4">

      <div class='panel panel-default panel-success' style='font-family: "Raleway"; margin: 10px'>
        <div class="panel-heading"><em><b>North Dining Hall</b></em></div>
        <div class="panel-body">
				Crowd Number: <b>403</b>
				<br>Max Occupancy: <b>750</b>
				<br>Past Average: <b>410</b>
        </div>
      </div>

      <div class='panel panel-default panel-success' style='font-family: "Raleway"; margin: 10px'>
        <div class="panel-heading"><em><b>South Dining Hall</em></b>
        </div>
        <div class="panel-body">
				Crowd Number: <b>395</b>
				<br>Max Occupancy: <b>750</b>
				<br>Past Average: <b>414</b>
        </div>
      </div>

      <div class='panel panel-default panel-success' style='font-family: "Raleway"; margin: 10px'>
        <div class="panel-heading"><em><b>Hesburgh Library</b></em></div>
        <div class="panel-body">
				Crowd Number: <b>619</b>
				<br>Max Occupancy: <b>1000</b>
				<br>Past Average: <b>605</b>
        </div>
      </div>

      <div class='panel panel-default panel-success' style='font-family: "Raleway"; margin: 10px'>
        <div class="panel-heading"><em><b>Smith Center</b></em></div>
        <div class="panel-body">
				Crowd Number: <b>146</b>
				<br>Max Occupancy: <b>250</b>
				<br>Past Average: <b>150</b>
        </div>
      </div>

      <br>

      <form action="http://localhost:5000/refresh">
        <p><input type='submit'/>Refresh</p>
      </form>

      <!-- col-md-6 -->
    </div>
    <div class="row" style='margin: 0px'>
      <div class="col-sm-8" id="map" style='margin: 10px'>

        <script>
          // This example creates circles on the map, representing populations in North
          // America.

          // First, create an object containing LatLng and population for each city.
          var ndcampus = {
            ndh: {
              center: {
                lat: 41.704395,
                lng: -86.236083
              },
								circlecolor: '#5cff00',
            },
            sdh: {
              center: {
                lat: 41.699465,
                lng: -86.241422
              },
								circlecolor: '#f4ff00',
            },
            smithcenter: {
              center: {
                lat: 41.698612,
                lng: -86.235320
              },
								circlecolor: '#ff7100',
            },
            library: {
              center: {
                lat: 41.702365,
                lng: -86.234194
              },
								circlecolor: '#91ff00',
            }
          };

          function initMap() {
            // Create the map.
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 16,
              center: {
                lat: 41.701542,
                lng: -86.237355
              },
              mapTypeId: 'terrain'
            });

            // Construct the circle for each value in citymap.
            // Note: We scale the area of the circle based on the population.
            for (var building in ndcampus) {
              // Add the circle for this city to the map.
              // Add the circle for this city to the map.
              var buildCircle = new google.maps.Circle({
                strokeColor: ndcampus[building].circlecolor,
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: ndcampus[building].circlecolor,
                fillOpacity: 0.35,
                map: map,
                center: ndcampus[building].center,
                radius: 35
              });
            }
          }
        </script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDg2BBVXUFzYtW8lgnfNMDygnzJFZSBnqQ&callback=initMap">
        </script>

        <!-- center-block -->

      </div>
  </div>
      <div class="row" style='margin: 10'>
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6">
        <h4 style='color:#000000; position:absolute'>
      <!-- <font size="72">CrowdView</font> -->
					<div style="font-family: 'Raleway';">Last Updated: March 25th 14:55</div>

        </h4>
      </div>
    </div>
    <br>
  </div>

  <!-- col-sm-6 -->

  </div>
  <!-- row -->

  <div class='jumbotron' style='background-size: cover; background:#2c76c8 ; margin-top: 25px; height: 100px;'>
    <h3 style='color:#FFFFFF; position:relative; top:-45px' class='jumbotronic'>
        <!-- <font size="72">CrowdView</font> -->
        <div style="font-family: 'Lobster', cursive; font-size: 18px; text-indent: 25px">Created By: Catherine Markley, Bridget Sabbagh, Chris Foley</div>

   </h3>
  </div>

  </div>
  <!-- container -->

  <!-- jQuery Javascript Library (required by Bootstrap) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- jQuery UI Library (optional) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

  <!-- Bootstrap Library -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <script>
    $(document).ready(function() {

      $('#Refresh').click(function() {
        location.reload(true);
      });

    });
  </script>

</body>
</html>
